.signIn {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 950px) {
    width: 47.5%;
  }

  @media screen and (max-width: 676px) {
    width: 90%;
    margin-bottom: 25px;
  }
}
